# **Machine Learning Lab - Ex 1 - Data Preprocessing**

**Run this code to mount your Google Drive**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
global dir 
dir = 'drive/MyDrive/Dataset/'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

**Ex 1(a) - Statistics**

In [ ]:
import pandas as pd

col_list=["id", "first", "last", "gender", "Marks", "selected"]
df = pd.read_csv(dir + "input1.csv", usecols=col_list)

print("Mean Marks:", df["Marks"].mean())
print("Sum of the Marks:", df["Marks"].sum())
print("Maximum of the Marks:", df["Marks"].max())
print("Minimum of the Marks:", df["Marks"].min())
print("Count of the Marks:", df["Marks"].count())
print("Standard Deviation of the Marks:", df["Marks"].std())
print("Variance of the Marks:", df["Marks"].var())

Mean Marks: 54.7
Sum of the Marks: 547
Maximum of the Marks: 95
Minimum of the Marks: 31
Count of the Marks: 10
Standard Deviation of the Marks: 18.666964283341724
Variance of the Marks: 348.4555555555555

**Ex 1(b) - Explore the Dataset**

In [ ]:
import pandas as pd

# Define a list of column names to be read from the CSV file
col_list = ["id", "first", "last", "gender", "Marks", "selected"]

# Read the CSV file and select only the specified columns
df = pd.read_csv(dir + "input1.csv", usecols=col_list)

# Print the entire DataFrame
print(df)

# Print the number of rows and columns in the DataFrame
print(df.shape)

# Print the first five rows of the DataFrame
print(df.head(5))

# Print a summary of the DataFrame's statistics
print(df.describe())

   id        first       last  gender  Marks  selected
0   1        Leone    Debrick  Female     50      True
1   2       Romola  Phinnessy  Female     60     False
2   3         Geri      Prium    Male     65     False
3   4        Sandy   Doveston  Female     95     False
4   5      Jacenta     Jansik  Female     31      True
5   6  Diane-marie   Medhurst  Female     45      True
6   7       Austen       Pool    Male     45      True
7   8        Vanya    Teffrey    Male     70     False
8   9     Giordano      Elloy    Male     36     False
9  10       Rozele    Fawcett  Female     50     False
(10, 6)
   id    first       last  gender  Marks  selected
0   1    Leone    Debrick  Female     50      True
1   2   Romola  Phinnessy  Female     60     False
2   3     Geri      Prium    Male     65     False
3   4    Sandy   Doveston  Female     95     False
4   5  Jacenta     Jansik  Female     31      True
             id      Marks
count  10.00000  10.000000
mean    5.50000  54.700000
std     3.02765  18.666964
min     1.00000  31.000000
25%     3.25000  45.000000
50%     5.50000  50.000000
75%     7.75000  63.750000
max    10.00000  95.000000

**Ex 1(c) - Spearman Correlation**

In [ ]:
from scipy import stats

data = [1,2,3,4,5,6,8,8,8,8,9,10,10,10,12,14,18,18,18,22,39,44,55,55,55,55,66,78,79,88]

print("Details of the data:\n", stats.describe(data))
print("Cumulative frequency of the data:\n", stats.cumfreq(data))
print("Geometric mean of the data:\n", stats.gmean(data))
print("Harmonic mean of the data:\n", stats.hmean(data))
print("IQR of the data:\n", stats.iqr(data))
print("Zscore of the data:\n", stats.zscore(data))
print("Skewness of the data:\n", stats.skew(data))
print("Kurtosis of the data:\n", stats.kurtosis(data))

# Check correlation of the data
data = [1,2,3,6,8,10]
data1 = [2,3,4,5,9,12]
print("Spearman correlation of the data:\n", stats.spearmanr(data, data1))

Details of the data:
 DescribeResult(nobs=30, minmax=(1, 88), mean=26.933333333333334, variance=715.3057471264368, skewness=0.9591014772240082, kurtosis=-0.5039593211083249)
Cumulative frequency of the data:
 CumfreqResult(cumcount=array([ 5., 16., 20., 20., 22., 22., 26., 27., 29., 30.]), lowerlimit=-3.833333333333333, binsize=9.666666666666666, extrapoints=0)
Geometric mean of the data:
 15.260661495888634
Harmonic mean of the data:
 7.690170827943984
IQR of the data:
 44.25
Zscore of the data:
 [-0.9862207  -0.94819162 -0.91016255 -0.87213347 -0.8341044  -0.79607532
 -0.72001717 -0.72001717 -0.72001717 -0.72001717 -0.68198809 -0.64395902
 -0.64395902 -0.64395902 -0.56790087 -0.49184271 -0.33972641 -0.33972641
 -0.33972641 -0.18761011  0.45888418  0.64902956  1.06734939  1.06734939
  1.06734939  1.06734939  1.48566923  1.94201814  1.98004721  2.3223089 ]
Skewness of the data:
 0.9591014772240082
Kurtosis of the data:
 -0.5039593211083249
Spearman correlation of the data:
 SignificanceResult(statistic=1.0, pvalue=0.0)

**Ex 1(d) - Label Encoder, Scaling, Binarization**

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, Binarizer, scale

col_list = ["id", "first", "last", "gender", "Marks", "selected"]
df = pd.read_csv(dir + "input1.csv", usecols=col_list)

print(df)
print("End of Listing\n\n\n")

# Convert gender column to numerical values
df_gender_encode = LabelEncoder()
df.gender = df_gender_encode.fit_transform(df.gender)
print(df)
print("End of Listing\n\n\n")

# Scale marks to remove mean
df.Marks = scale(df.Marks)
print(df)
print("Scaling of marks is completed\n\n\n\n")

# Binarize marks using a threshold of 0.5
binarizer = Binarizer(threshold=0.5)
df['Marks'] = binarizer.transform(df[['Marks']])
print(df)
print("Binarization of marks is completed")

   id        first       last  gender  Marks  selected
0   1        Leone    Debrick  Female     50      True
1   2       Romola  Phinnessy  Female     60     False
2   3         Geri      Prium    Male     65     False
3   4        Sandy   Doveston  Female     95     False
4   5      Jacenta     Jansik  Female     31      True
5   6  Diane-marie   Medhurst  Female     45      True
6   7       Austen       Pool    Male     45      True
7   8        Vanya    Teffrey    Male     70     False
8   9     Giordano      Elloy    Male     36     False
9  10       Rozele    Fawcett  Female     50     False
End of Listing



   id        first       last  gender  Marks  selected
0   1        Leone    Debrick       0     50      True
1   2       Romola  Phinnessy       0     60     False
2   3         Geri      Prium       1     65     False
3   4        Sandy   Doveston       0     95     False
4   5      Jacenta     Jansik       0     31      True
5   6  Diane-marie   Medhurst       0     45      True
6   7       Austen       Pool       1     45      True
7   8        Vanya    Teffrey       1     70     False
8   9     Giordano      Elloy       1     36     False
9  10       Rozele    Fawcett       0     50     False
End of Listing



   id        first       last  gender     Marks  selected
0   1        Leone    Debrick       0 -0.265401      True
1   2       Romola  Phinnessy       0  0.299282     False
2   3         Geri      Prium       1  0.581624     False
3   4        Sandy   Doveston       0  2.275674     False
4   5      Jacenta     Jansik       0 -1.338300      True
5   6  Diane-marie   Medhurst       0 -0.547743      True
6   7       Austen       Pool       1 -0.547743      True
7   8        Vanya    Teffrey       1  0.863966     False
8   9     Giordano      Elloy       1 -1.055958     False
9  10       Rozele    Fawcett       0 -0.265401     False
Scaling of marks is completed




   id        first       last  gender  Marks  selected
0   1        Leone    Debrick       0    0.0      True
1   2       Romola  Phinnessy       0    0.0     False
2   3         Geri      Prium       1    1.0     False
3   4        Sandy   Doveston       0    1.0     False
4   5      Jacenta     Jansik       0    0.0      True
5   6  Diane-marie   Medhurst       0    0.0      True
6   7       Austen       Pool       1    0.0      True
7   8        Vanya    Teffrey       1    1.0     False
8   9     Giordano      Elloy       1    0.0     False
9  10       Rozele    Fawcett       0    0.0     False
Binarization of marks is completed

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:432: UserWarning: X has feature names, but Binarizer was fitted without feature names
  warnings.warn(

**Ex 1(e) - Remove Duplicates**

In [ ]:
import pandas as pd

col_list = ["id", "first", "last", "gender", "Marks", "selected"]
df = pd.read_csv(dir + "input1_dup.csv", usecols=col_list)

print(df)
print("End of Listing\n\n\n")

df_duplicates_removed = df.drop_duplicates().reset_index(drop=True)
print(df_duplicates_removed)

print("Display after duplication")

    id        first       last  gender  Marks  selected
0    1        Leone    Debrick  Female     50      True
1    2       Romola  Phinnessy  Female     60     False
2    3         Geri      Prium    Male     65     False
3    4        Sandy   Doveston  Female     95     False
4    5      Jacenta     Jansik  Female     31      True
5    6  Diane-marie   Medhurst  Female     45      True
6    7       Austen       Pool    Male     45      True
7    8        Vanya    Teffrey    Male     70     False
8    9     Giordano      Elloy    Male     36     False
9   10       Rozele    Fawcett  Female     50     False
10   1        Leone    Debrick  Female     50      True
11   2       Romola  Phinnessy  Female     60     False
12   3         Geri      Prium    Male     65     False
13   4        Sandy   Doveston  Female     95     False
14   5      Jacenta     Jansik  Female     31      True
15   6  Diane-marie   Medhurst  Female     45      True
16   7       Austen       Pool    Male     45      True
17   8        Vanya    Teffrey    Male     70     False
18   9     Giordano      Elloy    Male     36     False
19  10       Rozele    Fawcett  Female     50     False
End of Listing



   id        first       last  gender  Marks  selected
0   1        Leone    Debrick  Female     50      True
1   2       Romola  Phinnessy  Female     60     False
2   3         Geri      Prium    Male     65     False
3   4        Sandy   Doveston  Female     95     False
4   5      Jacenta     Jansik  Female     31      True
5   6  Diane-marie   Medhurst  Female     45      True
6   7       Austen       Pool    Male     45      True
7   8        Vanya    Teffrey    Male     70     False
8   9     Giordano      Elloy    Male     36     False
9  10       Rozele    Fawcett  Female     50     False
Display after duplication

**Ex 1(f) - Dropping NaN columns**

In [ ]:
import pandas as pd

df = pd.DataFrame({
                'm1':[50,'A',60,'A',80],
                'm2':[60,'A','60','A',80],
                'm3':[50,70,'A','A',60],
                'm4':[60,'A','A','A',60],
                'm5':[30, 40, 50, 10, 20]
                })

df = df.apply(pd.to_numeric,errors='coerce')

print(df)
print('Dataframe with NaN\n\n\n')

# Dropping all columns having NaN
df=df.dropna(axis=1)
print(df)
print('Dropping all columns having NaN')

     m1    m2    m3    m4  m5
0  50.0  60.0  50.0  60.0  30
1   NaN   NaN  70.0   NaN  40
2  60.0  60.0   NaN   NaN  50
3   NaN   NaN   NaN   NaN  10
4  80.0  80.0  60.0  60.0  20
Dataframe with NaN



   m5
0  30
1  40
2  50
3  10
4  20
Dropping all columns having NaN

**Ex 1(g) - MinMax Scaling and Standard Scaling**

In [ ]:
from numpy import asarray
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler 

data = asarray([[1,3],[8,5],[6,7],[8,9]])
print("\n Original Data")
print(data)

scaler1 = MinMaxScaler()
scaler2 = StandardScaler()

scaled1 = scaler1.fit_transform(data)
scaled2 = scaler2.fit_transform(data)

print("\n\nThe output of MinMax Scaling")
print(scaled1)


print("\n\nThe output of Standard scaling as z-score")
print(scaled2)

 Original Data
[[1 3]
 [8 5]
 [6 7]
 [8 9]]


The output of MinMax Scaling
[[0.         0.        ]
 [1.         0.33333333]
 [0.71428571 0.66666667]
 [1.         1.        ]]


The output of Standard scaling as z-score
[[-1.66003771 -1.34164079]
 [ 0.78633365 -0.4472136 ]
 [ 0.08737041  0.4472136 ]
 [ 0.78633365  1.34164079]]